<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- meta tags SEO -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Lucas Gonçalves da Silva">
    <meta name="title" content="Encoder">
    <meta name="description"
        content="Programa capaz de criptografar informações utilizando uma chave escolhida pelo usuário. Somente será revelada a mensagem real com a mesma chave utilizada para gerar o texto codificado, caso contrário, a mensagem revelada será de erro.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://codificador.vercel.app/">
    <meta property="og:title" content="Encoder">
    <meta property="og:description"
        content="Programa capaz de criptografar informações utilizando uma chave escolhida pelo usuário. Somente será revelada a mensagem real com a mesma chave utilizada para gerar o texto codificado, caso contrário, a mensagem revelada será de erro.">
    <meta property="og:image" content="https://codificador.vercel.app/static/img/OG.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://codificador.vercel.app/">
    <meta property="twitter:title" content="Encoder">
    <meta property="twitter:description"
        content="Programa capaz de criptografar informações utilizando uma chave escolhida pelo usuário. Somente será revelada a mensagem real com a mesma chave utilizada para gerar o texto codificado, caso contrário, a mensagem revelada será de erro.">
    <meta property="twitter:image" content="https://codificador.vercel.app/static/img/OG.png">

    <!-- title -->
    <title>Codificador</title>

    <!-- page icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.svg') }}" type="image/x-icon">

    <!-- imports -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <h1>Codificador</h1>

    <form action="/output" method="post">

        <textarea placeholder='Texto ou Token' name="message" id="message" cols="" rows=""></textarea><br><br><br>

        <input type="password" name="keyword" id="keyword" placeholder="Senha"><br><br>

        <input type="radio" name="encode_func" id="encode" value="encode">
        <label for="encode">Codificar</label>

        <input type="radio" name="encode_func" id="decode" value="decode">
        <label for="decode">Decodificar</label><br>

        <input type="submit" value="Confirmar">

    </form>

    {% if output %}
    <textarea disabled=disabled name="output" id="output" cols="" rows="">{{ output }}</textarea><br>
    {% else %}
    <textarea disabled=disabled placeholder="Após a confirmação, o resultado aparecerá aqui" name="output" id="output"
        cols="" rows=""></textarea><br>
    {% endif %}

    <span>* Não utilize caracteres especiais (ã, â, é, ç...)</span><br><br>

    <img src="{{ url_for('static', filename='img/icon.svg') }}" alt="icon">

</body>

</html>