<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- meta tags SEO -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Lucas Gonçalves da Silva">
    <meta name="title" content="Encoder">
    <meta name="description"
        content="Programa capaz de criptografar informações utilizando uma chave escolhida pelo usuário. Somente será revelada a mensagem real com a mesma chave utilizada para gerar o texto codificado, caso contrário, a mensagem revelada será de erro.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://codificador.vercel.app/">
    <meta property="og:title" content="Encoder">
    <meta property="og:description"
        content="Programa capaz de criptografar informações utilizando uma chave escolhida pelo usuário. Somente será revelada a mensagem real com a mesma chave utilizada para gerar o texto codificado, caso contrário, a mensagem revelada será de erro.">
    <meta property="og:image" content="https://codificador.vercel.app/static/img/OG.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://codificador.vercel.app/">
    <meta property="twitter:title" content="Encoder">
    <meta property="twitter:description"
        content="Programa capaz de criptografar informações utilizando uma chave escolhida pelo usuário. Somente será revelada a mensagem real com a mesma chave utilizada para gerar o texto codificado, caso contrário, a mensagem revelada será de erro.">
    <meta property="twitter:image" content="https://codificador.vercel.app/static/img/OG.png">

    <!-- title -->
    <title>Codificador</title>

    <!-- page icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.svg') }}" type="image/x-icon">

    <!-- imports -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>

    <h1>Codificador</h1>

    <form action="/output" method="post">

        <textarea required class="entry" autofocus placeholder='Texto ou Token' name="message" id="message" cols=""
            rows=""></textarea><br><br><br>

        <input required class="entry" type="password" name="keyword" id="keyword" placeholder="Senha"><br><br>

        <input required type="radio" name="encode_func" id="encode" value="encode">
        <label for="encode">Codificar</label>

        <input required type="radio" name="encode_func" id="decode" value="decode">
        <label for="decode">Decodificar</label><br>

        <input type="submit" value="Confirmar">

    </form>

    {% if output %}
    <textarea readonly name="output" id="output" cols="" rows="">{{ output }}</textarea><br>
    {% else %}
    <textarea readonly placeholder="Após a confirmação, o resultado aparecerá aqui" name="output" id="output" cols=""
        rows=""></textarea><br>
    {% endif %}

    <span>Não utilize caracteres especiais (ã, â, é, ç...)</span>

    <p>* @ $ % & # ! ( [ { , . ; ' " são permitidos</p><br><br>

    <img src="{{ url_for('static', filename='img/icon.svg') }}" alt="icon">

    <script>

        function checkASCII(str) { return /^[\x00-\x7F]*$/.test(str) }


        const message = document.getElementById('message')
        const keyword = document.getElementById('keyword')
        const confirm = document.querySelector('input[type=submit]')
        const output = document.getElementById('output')


        confirm.disabled = true
        confirm.style.cursor = 'not-allowed'


        document.querySelectorAll('.entry').forEach(() => {

            this.onkeyup = () => {

                if (message.value.length !== 0 && keyword.value.length !== 0) {

                    confirm.disabled = false
                    confirm.style.cursor = 'pointer'

                } else {

                    confirm.disabled = true
                    confirm.style.cursor = 'not-allowed'

                }
            }

        })



        document.querySelector('form').onsubmit = () => {

            if (checkASCII(message.value) === false || checkASCII(keyword.value) === false) {

                Swal.fire({
                    icon: 'error',
                    title: 'Deu ruim :(',
                    html: '<p><span>NÃO</span> utilize caracteres especiais... Favor ler a legenda.</p>' +
                        '<p>Agradecido ;)</p>',
                })

                return false

            }

        }



        output.onclick = (e) => {

            if (output.value.length === 0) { return }

            let text = document.getElementById("output")

            text.select()
            text.setSelectionRange(0, 99999)

            navigator.clipboard.writeText(text.value)

            Swal.fire({
                title: 'Copiado!',
                icon: 'success',
                iconColor: '#4717f6',
                width: '300',
                showConfirmButton: false,
                timer: 1500
            })

        }

    </script>

</body>

</html>